name: style-fix

on:
  push:
    branches: [master]

jobs:
  style:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.3
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, exif

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: |
        composer install
        composer dump

    - name: Fix styles
      run: vendor/bin/php-cs-fixer fix

    - uses: EndBug/add-and-commit@v9

    - name: Run style
      run: vendor/bin/php-cs-fixer fix --dry-run --diff --format junit
